---
// src/sections/Proyects.astro
import ProjectCard from "../components/ProjectCard.astro";
import { projects } from "../assets/data/projects";

---

<section

  class="bg-gray-50/50 dark:bg-gray-950/50 rounded-tl-full"

  id="skill"

>

<div

  class="min-h-screen container mx-auto flex flex-col gap-12 max-w-4xl px-4 py-20"

>
    <div class="flex items-center gap-3">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 text-blue-500">
        <path d="M12 9a3.75 3.75 0 1 0 0 7.5A3.75 3.75 0 0 0 12 9Z" />
        <path fill-rule="evenodd" d="M18.75 2.25H5.25A2.25 2.25 0 0 0 3 4.5v15c0 1.24.96 2.25 2.25 2.25h13.5A2.25 2.25 0 0 0 21 19.5V4.5A2.25 2.25 0 0 0 18.75 2.25ZM12 4.5a.75.75 0 0 0-.75.75v.75a.75.75 0 0 0 1.5 0V5.25a.75.75 0 0 0-.75-.75Zm0 15a3.75 3.75 0 1 1 0-7.5 3.75 3.75 0 0 1 0 7.5Z" clip-rule="evenodd" />
      </svg>
      
      <h2 class="text-3xl font-bold text-slate-800 dark:text-slate-200">
        Mis Proyectos Destacados 🚀
      </h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {
        projects.map((project) => (
          <ProjectCard 
            title={project.title}
            description={project.description}
            image={project.image}
            tags={project.tags}
            repoUrl={project.repoUrl}
            liveUrl={project.liveUrl}
          />
        ))
      }
    </div>
  </div>
</section>